In [10]:
import pandas as pd
import numpy as np

education = pd.read_csv("education.csv", index_col="Neighborhood", thousands = ",")
education.head()

,Sector #,Population (2010),"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),2009 Median Income ('09 Dollars),1999 Median Income ('11 Dollars),2009 Med. Income ('13 Dollars),Est. Pop. for which Poverty Calc. (2010),Est. Pop. Under Poverty (2010),Est. Percent Under Poverty (2010)
Neighborhood,,,,,,,,,,,,,,,
Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964","$20,911","$22,535","$22,793",954,324,34.0%
Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638","$41,761","$35,386","$45,519",239,12,5.0%
Allentown,6,2500,1729,23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539","$29,274","$29,941","$31,909",2212,630,28.5%
Arlington,7,1869,1232,14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167","$25,119","$36,089","$27,380",1779,361,20.3%
Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646","$9,417","$24,769","$10,265",293,169,57.7%

In [13]:
education[['Population (2010)',"Edu. Attainment: Bachelor's Degree (2010)", "Edu. Attainment: Postgraduate Degree (2010)"]].sort_values('Population (2010)', ascending = True).head(10)

,Population (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010)
Neighborhood,,,
Chateau,11,NaN,NaN
South Shore,19,0.0%,47.6%
St. Clair,209,4.6%,0.0%
Arlington Heights,244,7.8%,0.0%
West End,254,26.7%,0.0%
Esplen,301,0.0%,6.3%
North Shore,303,5.6%,28.6%
Hays,362,6.6%,0.0%
Allegheny West,462,44.8%,10.5%
Chartiers City,477,10.6%,7.0%

In [14]:
educationPer = education.loc[:, "Edu. Attainment: Bachelor's Degree (2010)"].str.rstrip('%').astype('float')/100
educationPer.head()

Neighborhood
Allegheny Center     0.158
Allegheny West       0.448
Allentown            0.056
Arlington            0.071
Arlington Heights    0.078
Name: Edu. Attainment: Bachelor's Degree (2010), dtype: float64

In [15]:
education["Population (2010)"]

Neighborhood
Allegheny Center        933
Allegheny West          462
Allentown              2500
Arlington              1869
Arlington Heights       244
                       ...
Upper Lawrenceville    2669
West End                254
West Oakland           2604
Westwood               3066
Windgap                1369
Name: Population (2010), Length: 90, dtype: int64

In [16]:
educationPopulation = educationPer.multiply(education.loc[:,"Population (2010)"])

In [17]:
educationPopulation.head()

Neighborhood
Allegheny Center     147.414
Allegheny West       206.976
Allentown            140.000
Arlington            132.699
Arlington Heights     19.032
dtype: float64