In [2]:
import pandas as pd
import numpy as np

education = pd.read_csv("education.csv")
education.head()

,Neighborhood,Sector #,Population (2010),"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),2009 Median Income ('09 Dollars),1999 Median Income ('11 Dollars),2009 Med. Income ('13 Dollars),Est. Pop. for which Poverty Calc. (2010),Est. Pop. Under Poverty (2010),Est. Percent Under Poverty (2010)
0,Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964","$20,911","$22,535","$22,793",954,324,34.0%
1,Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638","$41,761","$35,386","$45,519",239,12,5.0%
2,Allentown,6,"2,500","1,729",23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539","$29,274","$29,941","$31,909","2,212",630,28.5%
3,Arlington,7,"1,869","1,232",14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167","$25,119","$36,089","$27,380","1,779",361,20.3%
4,Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646","$9,417","$24,769","$10,265",293,169,57.7%

In [3]:
education[['Neighborhood','Population (2010)',"Edu. Attainment: Bachelor's Degree (2010)", "Edu. Attainment: Postgraduate Degree (2010)"]].sort_values('Population (2010)', ascending = True).head(10)

,Neighborhood,Population (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010)
31,Fairywood,"1,002",16.3%,0.0%
58,Oakwood,"1,027",6.3%,12.2%
80,Summer Hill,"1,051",13.9%,1.0%
6,Bedford Dwellings,"1,202",14.2%,14.7%
57,Northview Heights,"1,214",0.0%,0.0%
64,Polish Hill,"1,274",18.3%,4.4%
32,Fineview,"1,285",3.7%,3.5%
81,Swisshelm Park,"1,361",26.2%,11.8%
89,Windgap,"1,369",6.3%,3.8%
50,Middle Hill,"1,707",6.7%,6.0%

In [4]:
education["Edu. Attainment: Bachelor's Degree (2010)"].str.rstrip('%').astype('float') / 100.0

0     0.158
1     0.448
2     0.056
3     0.071
4     0.078
      ...
85    0.094
86    0.267
87    0.201
88    0.132
89    0.063
Name: Edu. Attainment: Bachelor's Degree (2010), Length: 90, dtype: float64

In [18]:
education["Population (2010)"].str.replace(",","").astype(float)

0      933.0
1      462.0
2     2500.0
3     1869.0
4      244.0
       ...
85    2669.0
86     254.0
87    2604.0
88    3066.0
89    1369.0
Name: Population (2010), Length: 90, dtype: float64

In [ ]:
education['Total'] = education["Edu. Attainment: Bachelor's Degree (2010)"] * education["Population (2010)"]

In [22]:
education['Total Pop, 25 and older (2010)'].str.replace(",","").astype(float)

0      609.0
1      239.0
2     1729.0
3     1232.0
4      166.0
       ...
85    1875.0
86      86.0
87    1036.0
88    2408.0
89     979.0
Name: Total Pop, 25 and older (2010), Length: 90, dtype: float64

In [24]:
education['Est. Pop. Under Poverty (2010)'].str.replace(",","").astype(float)

0     324.0
1      12.0
2     630.0
3     361.0
4     169.0
      ...
85    722.0
86      0.0
87    758.0
88    186.0
89     72.0
Name: Est. Pop. Under Poverty (2010), Length: 90, dtype: float64